<footer class="container-fluid text-center">
    <div class="row text-center bg-gray">
        <div class="col-sm-4">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
            <h5>@jhipster-latino</h5>
        </div>
        <div class="col-sm-4">
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            <h5>@jhipster_latino</h5>
        </div>
        <div class="col-sm-4">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            <h5>@jhipster_latino</h5>
        </div>
    </div>
</footer>